@import "~bulma"

$primary: #00d1b2
$primary-invert: #ffffff

nav
  border-bottom: lightgray solid 0.1vmin

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

.margin-top-0
  margin-top: 0 !important


.social-links
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-around

.share-count
  text-align: center
